@import "tailwindcss";

@theme {
  --font-sans: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@layer utilities {
  input::placeholder, textarea::placeholder {
    @apply text-gray-400
  }

  input, textarea, select {
    @apply border border-gray-200
  }
}